
.containerSubmenu{
    
    background-color: #ffffff;
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    border-right-style: solid;
    border-right-color: rgb(0, 0, 0);
    border-right-width: 1px; 
  }
  .containerMenu::-webkit-scrollbar{
    display: none;
}
.Submenutext{
    color: rgb(0, 0, 0)
}
.Submenutext:hover{
    color: rgb(162, 223, 21);
}
@media screen and (max-width: 800px) {
    .Submenutext{
        color: rgb(0, 0, 0)
    }
    .Submenutext:hover{
        color: rgb(162, 223, 21);
    }
.containerSubmenu{
    font-size: 15px;
}

}