@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');

.header{
    width:auto;
    height: auto;
    display: flex;
    margin: 1rem 2rem 0rem 2rem;
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoimg{
    width: 12vw;
    max-width: 5rem;
}

.HeaderText{
    font-size: calc(2.4em + 1vmin);
    color: #7E8389;
    padding-left: 0.5vw;
    font-family: 'Titillium Web', sans-serif;
    font-style: normal;
}

.Cart{
    margin-left: auto;
    margin-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
