.Pizzaimage{
background-blend-mode: overlay;
mix-blend-mode: multiply;
opacity: 0.85;
border-radius: 0.16px;

position: absolute;
width: 398px;
height: 589px;
left: 81px;
top: 181px;
}
.Drinkimage{
position: absolute;
width: 398px;
height: 589px;
left: 527px;
top: 181px;

mix-blend-mode: multiply;
opacity: 0.9;
border-radius: 26px;
}
.Dessertimage{
position: absolute;
width: 398px;
height: 589px;
left: 965px;
top: 181px;

mix-blend-mode: multiply;
opacity: 0.9;
border-radius: 27px;
}