.body{
    background-color: red;
    width:50%;
}
*{margin:0;
    padding: 0;}

.containerSpeisen::-webkit-scrollbar{
    display: none;
}
.containerSpeisenA{
    position: absolute;
    width: 2000px;
    height: 52px;
    left: 00px;
    top: 120px;

}
@media screen and (max-width: 800px) {
.containerSpeisenA{
width: 380px;
height: 52px;

}}